my_bashrc: |
  # ===============================
  # General environment variables
  # ===============================

  export EDITOR=/usr/bin/vim
  export HISTSIZE=10000
  export HISTTIMEFORMAT="%F %T "
  export LESS='-X'
  PROMPT_COMMAND="$$PROMPT_COMMAND; history -a; history -n"

  # =========================================
  # OpenShift Training environment variables
  # =========================================

  if [ -e /usr/local/etc/ocp4.config ]; then
    source /usr/local/etc/ocp4.config
    M=$$RHT_OCP4_MASTER_API
    WC=$$RHT_OCP4_WILDCARD_DOMAIN
    NS=$$RHT_OCP4_NEXUS_SERVER
    U=$$RHT_OCP4_DEV_USER
    P=$$RHT_OCP4_DEV_PASSWORD
    G=$$RHT_OCP4_GITHUB_USER
    Q=$$RHT_OCP4_QUAY_USER
  else
    M=https://api.ocp4.example.com:6443
    WC=apps.ocp4.example.com
    NS=nexus.nexus-common.apps.ocp4.example.com
    U=developer
    P=developer
  fi

  alias lcl="oc login -u admin -p redhat https://api.ocp4.example.com:6443"
  alias mcl="oc login -u admin -p redhat https://api.ocp4-mng.example.com:6443"
  alias dl="oc login -u developer -p developer https://api.ocp4.example.com:6443"
  alias al="oc login -u admin -p redhatocp https://api.ocp4.example.com:6443"
  alias clustercheck="ssh lab@utility ./wait.sh"
  alias events='oc get events --sort-by=".lastTimestamp" -n $$1'
  alias podsw='oc get pods -o wide -n $$1'
  alias velero='oc -n openshift-adp exec deployment/velero -c velero -it -- ./velero'

  whohas() {
    local role="$$1"
    if [[ -z "$$role" ]]; then
      echo "Usage: whohas <role>"
      return 1
    fi
    oc get clusterrolebindings -o json | jq -r ".items[] | select(.roleRef.name == \"$$role\" and .subjects != null) | .subjects[] | \"$$(.kind) $$(.name)\"" || {
      echo "Error: Could not find role $$role."
      return 1
    }
  }

  whomembers() {
    local group="$$1"
    oc get group "$$group" -o json | jq -r '.users[]'
  }

  export GIT_PAGER=/usr/bin/cat
  alias ap="ansible-playbook"
  alias apsc="ansible-playbook --syntax-check"
  alias acd="ansible-config dump"
  alias av="ansible --version"
  alias aig="ansible-inventory --graph"
  alias anr="ansible-navigator run -m stdout"
  alias ansc="ansible-navigator run -m stdout --syntax-check"
  alias anch="ansible-navigator run -m stdout --check"
  alias ancd="ansible-navigator config dump -m stdout"
  alias anv="ansible-navigator --version"
  alias anig="ansible-navigator inventory --graph"
  alias gc="git commit -m"
  alias decomment='egrep -v "^[[:space:]]*((#|;|//).*)?$$" '
  alias scp='echo -e "\nStop using scp\n\nSee https://www.redhat.com/en/blog/openssh-scp-deprecation-rhel-9-what-you-need-know"'
  alias ve='python3 -m venv ./venv'
  alias va='source ./venv/bin/activate'
  alias showaliases="awk '/^alias/ {sub(/^alias[ \t]*/, \"\"); print}' /etc/bashrc"

  pastebin (){
    local filename="$$1"
    if [[ -z  "$$filename" ]]; then
        echo "Usage: pastebin /path/to/file"
        return 1
    fi
    glab snippet create -pv public --filename $$filename --title $$filename
  }

  mcd (){
    mkdir -pv "$$1"
    cd "$$1" || return
  }

  mnt (){
    mount | awk '$$1 ~ /\/dev/ { print $$1,$$3; }' | column -t | sort
  }

  gnb (){
    git checkout -b "$$1"
    git push -u origin "$$1"
  }

  my_ocp (){
    echo 'M=$$RHT_OCP4_MASTER_API'
    echo 'WC=$$RHT_OCP4_WILDCARD_DOMAIN'
    echo 'NS=$$RHT_OCP4_NEXUS_SERVER'
    echo 'U=$$RHT_OCP4_DEV_USER'
    echo 'P=$$RHT_OCP4_DEV_PASSWORD'
    echo 'G=$$RHT_OCP4_GITHUB_USER'
    echo 'Q=$$RHT_OCP4_QUAY_USER'
  }

  if command -v oc &> /dev/null; then
    source <(oc completion bash)
  fi

  if command -v kubectl &> /dev/null; then
    source <(kubectl completion bash)
  fi

  if command -v virtctl &> /dev/null; then
    source <(virtctl completion bash)
  fi
